fastapi
uvicorn

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

faiss-cpu
pypdf

sentence-transformers==2.6.1
transformers==4.57.6

numpy==1.26.4

python-dotenv
tiktoken
groq